<footer>
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-sm-6 col-md-3">
          <h3>Connect With Us</h3>
          <ul>
            <li><a href="#">Find a Library</a></li>
            <li><a href="#">Contact Volunteers</a></li>
            <li><a href="#">Submit a Story</a></li>
            <li><a href="#">Request Support</a></li>
          </ul>
        </div>
        <div class="col col-12 col-sm-6 col-md-3">
          <h3>Get Involved</h3>
          <ul>
            <li><a href="#">Start Your Own Library</a></li>
            <li><a href="#">Donate Books</a></li>
            <li><a href="#">Host an Event</a></li>
            <li><a href="#">Volunteer Opportunities</a></li>
          </ul>
        </div>
        <div class="col col-12 col-sm-6 col-md-3">
          <h3>Resources</h3>
          <ul>
            <li><a href="#">Library Map</a></li>
            <li><a href="#">Building Guide</a></li>
            <li><a href="#">Community Toolkit</a></li>
            <li><a href="#">Media Gallery</a></li>
          </ul>
        </div>
        <div class="col col-12 col-sm-6 col-md-3">
          <h3>About</h3>
          <ul>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Mission & Values</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col text-center">
          <a href="#" class="text-decoration-none me-3" aria-label="Facebook">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="#" class="text-decoration-none me-3" aria-label="Instagram">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
          <a href="#" class="text-decoration-none" aria-label="X (Twitter)">
            <i class="fab fa-x-twitter fa-lg"></i>
          </a>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center small">
          <p class="mb-0">&copy; 2025 Free Little Library. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
